
body {
    margin: 0;
    padding: 0;
}
.cart-page {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 2.8rem;
    right: -3rem;
    width: 0rem;
    transition: all .3s ease-in;
    /* overflow: hidden; */
    z-index: 1000;
    padding: 1rem;
    border: 1px solid lightgrey;
    box-shadow: .1rem .1rem .5rem black;
}

.show-cart {
    width: 18rem;
    min-height: 1rem;
    right: .9rem;

}

.cart-info {
    display: grid;
    grid-template-columns: 170px 30px 50px ;
    grid-template-rows:2 50px;
    margin-bottom: .2rem;
    padding: .1rem;
    /* text-align: center; */
    border-bottom: 1px solid black;
}

.cart-item-name {
    font-weight: 500;
    font-size: 1.1rem;
}

.cart-item-price {
    font-weight: 600;
    font-size: .8rem;
}

.cart-counter{
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
}

.cart-item-delete {
    margin-top: .5rem;
    margin-left: 1.5rem;
    padding-bottom:.2rem ;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    font-weight: 600;
}

.cart-keys {
    display: grid;
    grid-template-columns: repeat(2, 110px);
    font-weight: 700;
    cursor: pointer;
}

.clear-cart {
    border: 2px solid black;
    text-align: center;
    padding: .2rem .5rem;
    border-radius: .3rem;
    margin-right: .5rem;
}

.clear-cart:hover {
    background-color: black;
    color: white;
}

.checkout {
    border: 2px solid red;
    text-align: center;
    padding: .2rem .5rem;
    border-radius: .3rem;
    color: red;
}

.checkout:hover {
    background-color: red;
    color: white;
}

.close-btn {
    font-size: 2rem;
    cursor: pointer;
    color: black;
}

@media screen and (max-width:465px) {
    .cart-page {
        position: absolute;
        background-color: rgb(255, 255, 255);
        top: 2.8rem;
        left: 6rem;
        width: 18rem;
        transition: all .3s ease-in;
        z-index: 1000;
        padding: 1rem;
        border: 1px solid lightgrey;
        box-shadow: .1rem .1rem .5rem black;
        display: none;
    }

    .show-cart {
        width: 18rem;
        min-height: 1rem;
        right: .9rem;
    }

    .close-btn {
        font-size: 2rem;
        cursor: pointer;
    }
}