

.products-number span {
    font-weight: 700;
}

.search {
    padding: .3rem .6rem;
    outline: none;
    border: .1rem solid black;
}

::-webkit-input-placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section2 {
    margin-top: 1rem;
}

.section3 {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-column-gap: .4rem;
    grid-row-gap: 1rem;
    padding: 1rem 20%;
    margin-top: .5rem;
}

.item-preview{
    background-color: white;
    box-shadow: 0rem .1rem .5rem rgb(150, 147, 147);
}

.item {
    display: grid;
    grid-template-rows: 80% 20%;
}

.item-img {
    background-image: url(../styles/img/belts.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.item-img img {
    max-width: 100%;
}

.img-1 {
    background-image: url(../styles/img/shoes/shoes.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.img-2 {
    background-image: url(../styles/img/slides/slides.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.img-3 {
    background-image: url(../styles/img/sneakers/sneakers.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.img-4 {
    background-image: url(../styles/img/pyr1.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.img-5 {
    background-image: url(../styles/img/pyr3.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.img-6 {
    background-image: url(../styles/img/pyr2.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: top;
}

.img-7 {
    background-image: url(../styles/img/pyr4.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: left;
}

.img-8 {
    background-image: url(../styles/img/sweatshirt.jpg);
    width: 200px;
    height: 150px;
    background-size: contain;
    background-position: center;
}

.img-9 {
    background-image: url(../styles/img/watches/watch2.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.img-10 {
    background-image: url(../styles/img/sneakers/sneakers4.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.item-text {
    display: grid;
    grid-template-rows: repeat(2,20px);
    padding: .1rem .7rem;
}

.item-name {
    font-size: .9rem;
}

.item-price {
    font-weight: 900;
}

/*****RESPONSIVENESS*******/

@media screen and (max-width: 425px) {
    .section3 {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(5, 200px);
        grid-column-gap: .4rem;
        grid-row-gap: 1rem;
        padding: 1rem 2%;
    }
}

/*****375px*****/
@media screen and (max-width: 375px){
    .section3 {
        display: grid;
        grid-template-columns: repeat(2, 175px);
        grid-template-rows: repeat(5, 175px);
        grid-column-gap: .4rem;
        grid-row-gap: 1rem;
        padding: 1rem 2%;
    }

    .item-img {
        width: 175px;
        height: 120px;
    }
}

@media screen and (max-width:320px ){
    .section3 {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(5, 175px);
        grid-column-gap: .4rem;
        grid-row-gap: 1rem;
        padding: 1rem 2%;
    }

    .item-img {
        width: 150px;
        height: 120px;
    }

    .item-name{
        font-size: 12px;
    }
}