.section1 {
    background-image: url(./img/lebron1.jpg);
    background-size: cover;
    background-position: 10% 20%;
    background-repeat: no-repeat;
    height: 70vh;
    color: var(--page-font-color2);
    margin-bottom: 2rem;
    border-radius: .5rem;
}

.s1-text {
    padding: 15% 25%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2.4rem;
}

.s1-text h1 {
    font-weight: 500;
    font-size: 2.5rem;
    margin:.5rem;
}

.section2 {
    margin-bottom: 1rem;
}

.section3 {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(5, 200px);
    grid-column-gap: .4rem;
    grid-row-gap: 1rem;
    padding: 1rem 20%;
}

.item-preview{
    background-color: white;
    box-shadow: 0rem .1rem .5rem rgb(150, 147, 147);
}

.item {
    display: grid;
    grid-template-rows: 80% 20%;
}

.item-img {
    width: 100%;
}

.item-img img {
    max-width: 100%;
}

.item-text {
    display: grid;
    grid-template-rows: repeat(2,20px);
    padding: 0rem .7rem;
}

.item-name {
    font-size: .9rem;
}

.item-price {
    font-weight: 900;
}