.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(243, 243, 243);
    padding:.1rem 1rem;
}

.products-number span {
    font-weight: 700;
}

.search {
    padding: .3rem .6rem;
    outline: none;
    border: .1rem solid black;
}

::-webkit-input-placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section2 {
    margin-top: 1rem;
}

.section3 {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    grid-column-gap: .4rem;
    grid-row-gap: 1rem;
    padding: 1rem 20%;
    margin-top: 1rem;
}

.item-preview{
    background-color: white;
    box-shadow: 0rem .1rem .5rem rgb(150, 147, 147);
}

.item {
    display: grid;
    grid-template-rows: 80% 20%;
}

.item-img {
    background-image: url(../styles/img/watches/watches.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.img-1 {
    background-image: url(../styles/img/watches/2.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.img-2 {
    background-image: url(../styles/img/watches/1.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: 20% 15%;
}

.img-3 {
    background-image: url(../styles/img/watches/3.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.img-4 {
    background-image: url(../styles/img/watches/4.jpg);
    width: 200px;
    height: 150px;
    background-size: 85%;
    background-position: 40% 30%;
}

.img-5 {
    background-image: url(../styles/img/watches/watch3.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.img-6 {
    background-image: url(../styles/img/watches/6.jpg);
    width: 200px;
    height: 150px;
    background-size: contain;
    background-position: center;
}

.img-7 {
    background-image: url(../styles/img/watches/7.jpg);
    width: 200px;
    height: 150px;
    background-size: 80%;
    background-position: center;
}

.img-8 {
    background-image: url(../styles/img/watches/8.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.item-img img {
    max-width: 100%;
}

.item-text {
    display: grid;
    grid-template-rows: repeat(2,20px);
    padding: .1rem .7rem;
}

.item-name {
    font-size: .9rem;
}

.item-price {
    font-weight: 900;
}